.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.project-header {
  background-color: #6472ff;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.project-container {
  flex-direction: row;
}

.contact-form {
  background-color: #6472ff;
}

.active {
  background-color: #e4ac11;
  color: white;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
}

@media screen and (max-width: 1024px) {
  classList.
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    min-width: 100%;
  }
  

}

